In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('csv/Video_Games_Sales_as_at_22_Dec_2016.csv')

In [3]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [5]:
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [6]:
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [7]:
df.dropna(subset=['Year_of_Release', 'Publisher'], inplace=True)
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release       0
Genre                 2
Publisher             0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8436
Critic_Count       8436
User_Score         6581
User_Count         8957
Developer          6514
Rating             6651
dtype: int64

In [ ]:
# Selecionando a linha com índice 1
print(df.loc[1])

Name               Super Mario Bros.
Platform                         NES
Year_of_Release               1985.0
Genre                       Platform
Publisher                   Nintendo
NA_Sales                       29.08
EU_Sales                        3.58
JP_Sales                        6.81
Other_Sales                     0.77
Global_Sales                   40.24
Critic_Score                     NaN
Critic_Count                     NaN
User_Score                       NaN
User_Count                       NaN
Developer                        NaN
Rating                           NaN
Name: 1, dtype: object

In [15]:
# Selecionando a coluna 'Year_of_Release'
print(df.loc[:, 'Year_of_Release'])

0        2006.0
1        1985.0
2        2008.0
3        2009.0
4        1996.0
          ...
16714    2016.0
16715    2006.0
16716    2016.0
16717    2003.0
16718    2016.0
Name: Year_of_Release, Length: 16418, dtype: float64

In [18]:
# Selecionando as linhas 0 e 2 e as colunas 'Name' e 'Developer'
print(df.loc[[0, 2], ['Name', 'Developer']])

             Name Developer
0      Wii Sports  Nintendo
2  Mario Kart Wii  Nintendo

In [ ]:
# Seleciona as colunas 'Name' e 'Developer
print(df.loc[:, ['Name', 'Developer']])

                                Name Developer
0                         Wii Sports  Nintendo
1                  Super Mario Bros.       NaN
2                     Mario Kart Wii  Nintendo
3                  Wii Sports Resort  Nintendo
4           Pokemon Red/Pokemon Blue       NaN
...                              ...       ...
16714  Samurai Warriors: Sanada Maru       NaN
16715               LMA Manager 2007       NaN
16716        Haitaka no Psychedelica       NaN
16717               Spirits & Spells       NaN
16718            Winning Post 8 2016       NaN

[16418 rows x 2 columns]

In [20]:
# Selecionando a primeira linha
print(df.iloc[0])

Name               Wii Sports
Platform                  Wii
Year_of_Release        2006.0
Genre                  Sports
Publisher            Nintendo
NA_Sales                41.36
EU_Sales                28.96
JP_Sales                 3.77
Other_Sales              8.45
Global_Sales            82.53
Critic_Score             76.0
Critic_Count             51.0
User_Score                  8
User_Count              322.0
Developer            Nintendo
Rating                      E
Name: 0, dtype: object

In [21]:
# Selecionando a segunda coluna
print(df.iloc[:, 1])

0         Wii
1         NES
2         Wii
3         Wii
4          GB
         ...
16714     PS3
16715    X360
16716     PSV
16717     GBA
16718     PSV
Name: Platform, Length: 16418, dtype: object

In [22]:
# Selecionando as duas primeiras linhas e as duas primeiras colunas
print(df.iloc[0:2, 0:2])

                Name Platform
0         Wii Sports      Wii
1  Super Mario Bros.      NES

In [27]:
# Filtrando pessoas com mais de 30 anos
filtro_ano = df['Year_of_Release'] > 2006
print(df[filtro_ano])

                                                   Name Platform  \
2                                        Mario Kart Wii      Wii
3                                     Wii Sports Resort      Wii
8                             New Super Mario Bros. Wii      Wii
13                                              Wii Fit      Wii
14                                   Kinect Adventures!     X360
...                                                 ...      ...
16711                                  Aiyoku no Eustia      PSV
16713  SCORE International Baja 1000: The Official Game      PS2
16714                     Samurai Warriors: Sanada Maru      PS3
16716                           Haitaka no Psychedelica      PSV
16718                               Winning Post 8 2016      PSV

       Year_of_Release       Genre               Publisher  NA_Sales  \
2               2008.0      Racing                Nintendo     15.68
3               2009.0      Sports                Nintendo     15.61
8               2009.0    Platform                Nintendo     14.44
13              2007.0      Sports                Nintendo      8.92
14              2010.0        Misc  Microsoft Game Studios     15.00
...                ...         ...                     ...       ...
16711           2014.0        Misc         dramatic create      0.00
16713           2008.0      Racing              Activision      0.00
16714           2016.0      Action              Tecmo Koei      0.00
16716           2016.0   Adventure            Idea Factory      0.00
16718           2016.0  Simulation              Tecmo Koei      0.00

       EU_Sales  JP_Sales  Other_Sales  Global_Sales  Critic_Score  \
2         12.76      3.79         3.29         35.52          82.0
3         10.93      3.28         2.95         32.77          80.0
8          6.94      4.70         2.24         28.32          87.0
13         8.03      3.60         2.15         22.70          80.0
14         4.89      0.24         1.69         21.81          61.0
...         ...       ...          ...           ...           ...
16711      0.00      0.01         0.00          0.01           NaN
16713      0.00      0.00         0.00          0.01           NaN
16714      0.00      0.01         0.00          0.01           NaN
16716      0.00      0.01         0.00          0.01           NaN
16718      0.00      0.01         0.00          0.01           NaN

       Critic_Count User_Score  User_Count            Developer Rating
2              73.0        8.3       709.0             Nintendo      E
3              73.0          8       192.0             Nintendo      E
8              80.0        8.4       594.0             Nintendo      E
13             63.0        7.7       146.0             Nintendo      E
14             45.0        6.3       106.0  Good Science Studio      E
...             ...        ...         ...                  ...    ...
16711           NaN        NaN         NaN                  NaN    NaN
16713           NaN        NaN         NaN                  NaN    NaN
16714           NaN        NaN         NaN                  NaN    NaN
16716           NaN        NaN         NaN                  NaN    NaN
16718           NaN        NaN         NaN                  NaN    NaN

[9323 rows x 16 columns]

In [29]:
# Filtrando pessoas que moram em São Paulo
filtro_pub = df['Developer'] == 'Nintendo'
print(df[filtro_pub])

                                    Name Platform  Year_of_Release      Genre  \
0                             Wii Sports      Wii           2006.0     Sports
2                         Mario Kart Wii      Wii           2008.0     Racing
3                      Wii Sports Resort      Wii           2009.0     Sports
6                  New Super Mario Bros.       DS           2006.0   Platform
7                               Wii Play      Wii           2006.0       Misc
...                                  ...      ...              ...        ...
5058                     Wii Sports Club     WiiU           2014.0     Sports
5354     Classic NES Series: Ice Climber      GBA           2004.0   Platform
6761      Classic NES Series: Excitebike      GBA           2004.0     Racing
8453   Cubivore: Survival of the Fittest       GC           2002.0  Adventure
10849  Brain Age: Concentration Training      3DS           2012.0     Puzzle

      Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0      Nintendo     41.36     28.96      3.77         8.45         82.53
2      Nintendo     15.68     12.76      3.79         3.29         35.52
3      Nintendo     15.61     10.93      3.28         2.95         32.77
6      Nintendo     11.28      9.14      6.50         2.88         29.80
7      Nintendo     13.96      9.18      2.93         2.84         28.92
...         ...       ...       ...       ...          ...           ...
5058   Nintendo      0.17      0.14      0.04         0.03          0.38
5354   Nintendo      0.10      0.04      0.20         0.01          0.34
6761   Nintendo      0.11      0.04      0.10         0.01          0.25
8453   Nintendo      0.01      0.00      0.15         0.00          0.17
10849  Nintendo      0.09      0.00      0.00         0.01          0.09

       Critic_Score  Critic_Count User_Score  User_Count Developer Rating
0              76.0          51.0          8       322.0  Nintendo      E
2              82.0          73.0        8.3       709.0  Nintendo      E
3              80.0          73.0          8       192.0  Nintendo      E
6              89.0          65.0        8.5       431.0  Nintendo      E
7              58.0          41.0        6.6       129.0  Nintendo      E
...             ...           ...        ...         ...       ...    ...
5058           68.0          21.0          7       106.0  Nintendo   E10+
5354           66.0          12.0        tbd         NaN  Nintendo      E
6761           66.0          12.0        tbd         NaN  Nintendo      E
8453           71.0          12.0        8.5        21.0  Nintendo      E
10849          71.0          11.0        7.9        17.0  Nintendo      E

[72 rows x 16 columns]

In [35]:
# Combinando filtros (idade > 30 E cidade != 'São Paulo')
print(df[(df['Year_of_Release'] >= 2010) & (df['Developer'] == 'Nintendo')])

                                             Name Platform  Year_of_Release  \
53                            Super Mario 3D Land      3DS           2011.0
62                        New Super Mario Bros. 2      3DS           2012.0
73                      Animal Crossing: New Leaf      3DS           2012.0
110                                  Mario Kart 8     WiiU           2014.0
185                       New Super Mario Bros. U     WiiU           2012.0
247                                      Splatoon     WiiU           2015.0
248                                 Nintendo Land     WiiU           2012.0
260                          Super Mario 3D World     WiiU           2013.0
306            The Legend of Zelda: Skyward Sword      Wii           2011.0
424                             Super Mario Maker     WiiU           2015.0
448    The Legend of Zelda: A Link Between Worlds      3DS           2013.0
457          Animal Crossing: Happy Home Designer      3DS           2015.0
565      Mario vs. Donkey Kong: Mini-Land Mayhem!       DS           2010.0
720                             New Super Luigi U     WiiU           2013.0
1817        The Legend of Zelda: Tri Force Heroes      3DS           2015.0
1846                                     Pikmin 3     WiiU           2013.0
2188                               Star Fox 64 3D      3DS           2011.0
2257                             Wii Play: Motion      Wii           2011.0
2445                                    Wii Fit U     WiiU           2013.0
4068                                  Steel Diver      3DS           2011.0
5058                              Wii Sports Club     WiiU           2014.0
10849           Brain Age: Concentration Training      3DS           2012.0

            Genre Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
53       Platform  Nintendo      4.89      3.00      2.14         0.78
62       Platform  Nintendo      3.66      3.14      2.47         0.63
73     Simulation  Nintendo      2.03      2.36      4.39         0.39
110        Racing  Nintendo      3.15      2.15      1.28         0.51
185      Platform  Nintendo      2.30      1.34      1.27         0.32
247       Shooter  Nintendo      1.54      1.18      1.46         0.26
248          Misc  Nintendo      2.52      1.11      0.46         0.33
260      Platform  Nintendo      2.11      1.16      0.73         0.32
306        Action  Nintendo      2.03      1.16      0.37         0.38
424      Platform  Nintendo      1.18      0.89      0.94         0.20
448        Action  Nintendo      1.40      1.01      0.46         0.23
457    Simulation  Nintendo      0.51      1.02      1.40         0.12
565        Puzzle  Nintendo      1.63      0.51      0.35         0.18
720      Platform  Nintendo      1.25      0.62      0.18         0.18
1817       Action  Nintendo      0.53      0.33      0.17         0.08
1846     Strategy  Nintendo      0.44      0.32      0.29         0.07
2188      Shooter  Nintendo      0.48      0.27      0.13         0.06
2257         Misc  Nintendo      0.23      0.42      0.18         0.09
2445       Sports  Nintendo      0.35      0.23      0.21         0.05
4068       Action  Nintendo      0.31      0.09      0.05         0.03
5058       Sports  Nintendo      0.17      0.14      0.04         0.03
10849      Puzzle  Nintendo      0.09      0.00      0.00         0.01

       Global_Sales  Critic_Score  Critic_Count User_Score  User_Count  \
53            10.81          90.0          82.0        8.4       921.0
62             9.90          78.0          70.0        7.2       424.0
73             9.16          88.0          70.0        8.7       626.0
110            7.09          88.0          82.0        9.1      1599.0
185            5.22          84.0          70.0        8.1       733.0
247            4.43          81.0          88.0        8.5      1184.0
248            4.42          77.0          61.0        7.9       471.0
260            4.32          93.0          83.0          9      1607.0
306            3.95          93.0          81.0          8      1958.0
424            3.21          88.0          85.0        8.7       691.0
448            3.10          91.0          81.0        8.9      1057.0
457            3.05          66.0          60.0        6.9       106.0
565            2.67          79.0          51.0        7.7        18.0
720            2.24          77.0          59.0        7.9       288.0
1817           1.12          73.0          73.0        7.6       179.0
1846           1.11          87.0          79.0        8.7       664.0
2188           0.94          81.0          65.0        8.2       231.0
2257           0.92          60.0          34.0        6.1        16.0
2445           0.85          72.0          19.0        7.7        72.0
4068           0.49          58.0          55.0        6.3        29.0
5058           0.38          68.0          21.0          7       106.0
10849          0.09          71.0          11.0        7.9        17.0

      Developer Rating
53     Nintendo      E
62     Nintendo      E
73     Nintendo      E
110    Nintendo      E
185    Nintendo      E
247    Nintendo   E10+
248    Nintendo   E10+
260    Nintendo      E
306    Nintendo   E10+
424    Nintendo      E
448    Nintendo      E
457    Nintendo      E
565    Nintendo      E
720    Nintendo      E
1817   Nintendo      E
1846   Nintendo   E10+
2188   Nintendo   E10+
2257   Nintendo   E10+
2445   Nintendo      E
4068   Nintendo   E10+
5058   Nintendo   E10+
10849  Nintendo      E

In [40]:
# Ordenando pela coluna 'Idade' em ordem crescente
df.sort_values(by='Year_of_Release')

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
6876,Checkers,2600,1980.0,Misc,Atari,0.22,0.01,0.00,0.00,0.24,NaN,NaN,NaN,NaN,NaN,NaN
2650,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.00,0.01,0.77,NaN,NaN,NaN,NaN,NaN,NaN
6301,Bridge,2600,1980.0,Misc,Activision,0.25,0.02,0.00,0.00,0.27,NaN,NaN,NaN,NaN,NaN,NaN
546,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.00,0.03,2.76,NaN,NaN,NaN,NaN,NaN,NaN
4019,Ice Hockey,2600,1980.0,Sports,Activision,0.46,0.03,0.00,0.01,0.49,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7234,Dishonored 2,XOne,2016.0,Action,Bethesda Softworks,0.12,0.08,0.00,0.02,0.22,88.0,22.0,6.8,156.0,Arkane Studios,M
16222,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16385,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
14086,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.04,0.00,0.04,NaN,NaN,NaN,NaN,NaN,NaN
5936,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29,NaN,NaN,tbd,NaN,Ubisoft,E

In [54]:
# Ordenando pela coluna 'Idade' em ordem decrescente
df.sort_values(by='User_Score', ascending=True)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
2835,My Little Pony: Pinkie Pie's Party,DS,2008.0,Adventure,THQ,0.66,0.00,0.00,0.06,0.72,NaN,NaN,0,4.0,THQ,E
13683,Myth Makers: Trixie in Toyland,Wii,2008.0,Platform,Popcorn Arcade,0.04,0.00,0.00,0.00,0.04,NaN,NaN,0.2,5.0,Data Design Interactive,E
9971,Madden NFL 17,PS3,2016.0,Sports,Electronic Arts,0.07,0.02,0.00,0.02,0.12,NaN,NaN,0.2,5.0,EA Sports,E
13381,Billy the Wizard: Rocket Broomstick Racing,Wii,2007.0,Racing,Metro 3D,0.04,0.00,0.00,0.00,0.05,NaN,NaN,0.3,4.0,Data Design Interactive,E
5764,Happy Feet,DS,2006.0,Action,Midway Games,0.27,0.01,0.00,0.02,0.31,NaN,NaN,0.3,9.0,Artificial Mind and Movement,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
print(df.groupby('Genre')['Global_Sales'].sum())

Genre
Action          1717.62
Adventure        233.25
Fighting         442.63
Misc             783.19
Platform         825.86
Puzzle           240.33
Racing           723.69
Role-Playing     930.90
Shooter         1041.83
Simulation       388.22
Sports          1310.39
Strategy         172.69
Name: Global_Sales, dtype: float64